<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cafe</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header-section">
        <h1>Add a New Cafe</h1>
        <a href="{{ url_for('home') }}"> <div class="link header-link"> Home Page</div></a>
    </section>
    <section class="section">
        <div class="container-form">
            <form method="POST" action="{{ url_for('post_new_cafe') }}">
                
                <div class="nice-form-group">
                    {{ form.name.label }}
                    {{ form.name(size=32) }}
                </div>
                
                <br>
               
                <div class="nice-form-group">
                    {{ form.map_url.label }}
                    {{ form.map_url(size=32) }}
                </div>
                
                <br>

                <div class="nice-form-group">
                    {{ form.img_url.label }}
                    {{ form.img_url(size=32) }}
                </div>
            
                <br>
                
                <div class="nice-form-group">
                    {{ form.location.label }}
                    {{ form.location(size=32) }}
                </div>
                
                <br>
                
                <div class="nice-form-group">
                    {{ form.has_sockets.label }}
                    {{ form.has_sockets }}
                </div>
                
                <br>
                
                <div class="nice-form-group">
                    {{ form.has_toilet.label }}
                    {{ form.has_toilet }}
                </div>
                
                <br>
                
                <div class="nice-form-group">
                    {{ form.has_wifi.label }}
                    {{ form.has_wifi }}
                </div>
                
                <br>
                
                <div class="nice-form-group">
                    {{ form.can_take_calls.label }}
                    {{ form.can_take_calls }}
                </div>
            
                <br>
                <div class="nice-form-group">
                    {{ form.seats.label }}
                    {{ form.seats(size=32) }}
                </div>
                <br>
                <div class="nice-form-group">
                    {{ form.coffee_price.label }}
                    {{ form.coffee_price(size=32) }}
                </div>
                <br>
                
                {{ form.submit(class_="form-submit") }}
                
                
            </form>
        </div>
    </section>

    <section class="footer-section">
        <div class="footer-block">© All rights reserved Larrenz Carino.</div>
      </section>
</body>
</html>
